@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

body {
    background-color: white;
    color: whitesmoke;  
}

h1 {
    font-family: 'Merriweather', serif;
}

div.sitelist > a {
    color: black;
    text-decoration: none;
    position: relative;
}

div.sitelist > a::after {
    content: "\A";
    white-space: pre;
}

div.sitelist > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: pink;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s;
}

div.sitelist > a:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: pink;
    bottom: 0;
    left: 0;
    visibility: visible;
    transform: scaleX(1);
    transition: 0.3s;
}

div.sitelist > a:hover {
   text-decoration: none;
}

.container {
    background-color: #111;
    width: 100vw;
    height: 100vh;
    align-content: center;
}

.wrapper {
    position: relative;
    top: 20%;
    margin: 0 auto;
    width: 80vw;
}


.tabcontainer {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    background-color: purple;
    width: 100%;
    height: 60vh;

}

.tab {
    box-sizing: border-box;
    filter: saturate(0);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    flex: 1;
    min-width: 15%;
    transition: 0.3s;

    background-repeat: no-repeat;
    background-size: cover;
}

.tab, #first {
    background-color: red;
    background-image: url("src/img/pixel/pond.gif");
    background-position: right;
}

.tab, #second {
    background-color: green;
    background-image: url("src/img/pixel/sign.gif");
    background-position: center;
}

.tab, #third {
    background-color: blue;
    background-image: url("src/img/pixel/deer.gif");
    background-position: center;
}

.tab, #fourth {
    background-color: yellow;
    background-image: url("src/img/pixel/train.gif");
    background-position: left;
}


.tab:hover {
        flex-grow: 5;
        max-width: 55% !important;
        filter: saturate(1);
        transition: 0.3s;
}

.tab:hover .tabheader {
    opacity: 1;
    transition: 0.3s;
}

.tabheader {
    padding: 0px 10px;
    box-sizing: border-box;
    display: block;
    opacity: 0;
    transition: 0.3s;
    top: 0px;
    width: 100%;
    height: 40px;
    text-align: left;
    font-family: 'Roboto', serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.9);
}

.footer {
    height: 5px;
    width: 100%;
    background-color: pink;
}

.tab:hover .sitelist {
    opacity: 1;
    transition: 0.3s;
}

.sitelist {
    opacity: 0;
    transition: 0.3s;
    margin: 20px;
    padding: 5px;
    height: 65%;
    width: 200px;
    background-color: white;
    color: black;
    text-align: left;
    font-family: 'Roboto', serif;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 175%;
}

.extra {
    font-size: 15px;
    width: 49%;
    text-align: right;
    display: inline-block;
}

.searchcontainer {
    width: 50%;
    text-align: left;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 0px;
}

.search {
    font-size: 15px;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}

.search:focus {
    border: none;
    outline: none;
}

::-webkit-input-placeholder {
    
}