{
	"tabWidth": 1,
	"useTabs": true,
	"editor.formatOnSave": true,
	"semi": false,
	"singleQuote": true,
	"editor.defaultFormatter": "esbenp.prettier-vscode",
	"[html]": {
		"editor.defaultFormatter": "vscode.html-language-features"
	}
}
