* {
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }


body {
    max-width: 700px;
    min-width: 700px;
    overflow: visible;
    min-height: 700px;
    margin: 0 auto;
    padding: 40px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: monospace;
    font-weight: normal;
    font-size: 1em;
    background-color: #111;
    background-image: url(./src/bg_tile.jpg);
    background-repeat: repeat;
    background-size: 10px;
    animation: bganim 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #eee;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@keyframes bganim {
from {background-position: 0px 0px;}
to {background-position: 50px 50px;}
}

#header {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header h1 {
    height: 100%;
    margin-right: 25px;
    padding: 10px 25px;
    font-size: inherit;
    font-weight: bold;
    background-color: rgb(126, 185, 175);
    color: black;

    user-select: none;
}


h2 {
    margin: 0 0 10px 0;
    font-size: 2.5em;
    font-weight: bold;
}

a {
    padding: 0;
    color: #eee;
    text-decoration: none;
}

#content {
    min-width: 100%;
    min-height: 200px;
    padding: 15px 0;
    flex-grow: 99;

}

#footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#footer * {
    flex-basis: 50%;
    flex-grow: 2;
    margin: auto;
}

#links {
    text-align: left;
}

.list {
    width: 100%;
}

/* projects */
.listitem {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 5px 0;
    margin: 2px 0;
    transition: background-color 0.1s;
}

.listitem span {
    padding: 0;
    margin: auto 65px auto 0;
}

.listitem h4 {
    margin: auto 20px auto 0;
    transition: margin 0.1s;
}

.listitem:hover {
    background-color: rgba(238, 238, 238, 0.1);
}

.listitem:hover > h4 {
    margin: auto 20px auto 10px;
}

.list input[type=checkbox] {
    visibility: hidden;
    position: fixed;
    top: -9999px;
    right: -9999px;
}

.list input[type=checkbox]:checked + .projectcontent {
    height: 100px;
    padding-top: 10px;
}

.projectcontent {
    height: 0;
    position: relative;
    overflow: hidden;
    transition: height 0.5s, padding-top 0.5s;
    padding-top: 0px;
}

.projectcontent > hr {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    margin-right: 200px;
    background-color: #eee;
    border-color: #eee;
}

.projectcontent > hr.tick {
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    margin-right: 130px;
    width: 10px;
    visibility: hidden;
}

.projectcontent > img {
    height: 90px;
    width: 100px;
    float: left;
    margin-right: 35px;
    border-radius: 50%;
    
}

.projectcontent > a {
    text-decoration: underline;
}

img#avatar {
    border-radius: 47%;
    margin-bottom: 40px;
    user-select: none;
}

p.center {
    margin: 300px auto;
    text-align: center;
}

.post > p {
    text-align: justify;
    white-space: normal;
}

.post > img.left {
    float: left;
    margin: 0 15px 0 0;
}

.post > img.right {
    float: right;
    margin: 0 0 0 15px;
}

/* extra chrome/mozilla decoration */
::selection {
    color: #111;
    background: #eee; /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: #222; /* Gecko Browsers */
}