body {
    background-color: #111;
    margin-top: 100px;
}

#poem, #list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 500px
}

img {
    width: 100%;
    height: 150px;

    object-fit: cover;
    border: #ddd 1px solid;
    margin-bottom: 30px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

audio {
    margin-top: 150px;
    height: 25px;
}

p, a {
    color: #ddd;
    white-space: pre-wrap;
}

p#title {
    font-size: 20pt;
    font-style: italic;
    margin-bottom: 10px;
}