/***** devtools *****/
#centerbar {
    position: fixed;
    left: 50vw;
    top:0;
    height: 100vh;
    width: 0px;
    background-color: teal;
}

/***** generics *****/
* {
    box-sizing: border-box;
    /* hide scrollbars */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Chrome, Opera, Safari scrollbar hiding*/
*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #eee;
    width: 100vw;
}

#bodywrapper {
    width: 100%;
    height: 100%;
}

.section {
    text-align: center;
    margin: 25px auto;
}

.sectiontitle {
    margin: 0 0 20px 0;
    font-size: 20pt;
    font-style: oblique;
    display: block;
}

/***** title *****/
#title {
    /* TODO flootah.com title screen */
    font-size: 50pt;
    margin: 0 auto;
    text-align: center;
}

span.subtitle {
    /* TODO subtitle */
}

/***** about *****/
#about {
    width: 600px;
}

/***** projects *****/
#projects {
    display: flex;
    flex-flow: column nowrap;
    width: 800px;
    text-align: center;
}

#p_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: inherit;
}

.item {
    margin: 5px;
    border: 1px solid white;
    background-color: rgb(107, 60, 214);
    width: auto;
    height: 200px;
    /** temp */
    padding: 20px;
    font-size: 30pt;
}

/* change columns/size of projects list on small widths */
@media (max-width:1000px) {
    #projects {
        width: 400px;
    }

    #p_container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: inherit;
        min-width: inherit;
    }

}

/***** contact *****/
/***** links *****/