@font-face {
    font-family: proggy;
    src: url(ProggyTiny.ttf);
  }

body {
    box-sizing: border-box;
    background-color: rgb(3, 1, 2);
    text-align: center;
    padding-top: 400px;
}

p {
    font-family: proggy;
    font-size: 20pt;
    color: #eee;
    width: 100vw;
    text-align: center;
    margin: 50px 0;
}

#door {
    background-image: url("src/spr_door_closed.png");
    height: 90px;
    width: 51px;
    background-size: cover;
    image-rendering: pixelated;
    display: inline-block;
    overflow: hidden;
}

#door:hover {
    cursor: pointer;
}

@keyframes open {
    50% {
        background-image: url("src/spr_door_opena.png");
    }

    to {
        background-image: url("src/spr_door_openb.png");
    }
}

#door.open {
    animation: open 200ms forwards step-end;
}